<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="jetleg_ros2_control" params="name initial_positions_file identifier plugin">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}_${identifier}" type="system">
            <hardware>
                <plugin>${plugin}</plugin>
            </hardware>
            <joint name="knee_joint${identifier}">
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['knee_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="ankle_joint${identifier}">
                <command_interface name="effort"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['ankle_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <sensor name="imu0">
                <state_interface name="orientation.x" />
                <state_interface name="orientation.y" />
                <state_interface name="orientation.z" />
                <state_interface name="orientation.w" />

                <state_interface name="angular_velocity.x" />
                <state_interface name="angular_velocity.y" />
                <state_interface name="angular_velocity.z" />

                <state_interface name="linear_acceleration.x" />
                <state_interface name="linear_acceleration.y" />
                <state_interface name="linear_acceleration.z" />
            </sensor>

            <!-- Use if modelling the movement of the thigh -->
            <joint name="base_link_to_jetleg">
                <command_interface name="effort"/>
                <state_interface name="position">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            
        </ros2_control>
    </xacro:macro>
</robot>
