<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="jetleg_wheeled_testrig">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import jetleg_wheeled_testrig urdf file -->
    <xacro:include filename="$(find jetleg_description)/urdf/jetleg_wheeled_testrig.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="jetleg_wheeled_testrig.ros2_control.xacro" />


    <xacro:jetleg_wheeled_testrig_ros2_control name="JetlegSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
