<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="jetleg_wheeled_testrig">

    <!-- Include the wheeled testrig model -->
    <xacro:include filename="$(find jetleg_description)/urdf/jetleg_wheeled_testrig.xacro" />

    <!-- Given Gazebo-compatible material to 'mount' link-->
    <gazebo reference="mount">
        <material>Gazebo/Black</material>
    </gazebo>

    <!-- Given Gazebo-compatible material to 'mount_intact' link-->
    <gazebo reference="mount_intact">
        <material>Gazebo/Black</material>
    </gazebo>

    <!-- Use the ROS 2 Control plugin for Gazebo to control robot -->
    <gazebo>
        <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
            <parameters>$(find jetleg_description)/ros2_control/ros2_controllers.yaml</parameters>

            <robot_param>robot_description</robot_param>
            <robot_param_node>robot_state_publisher</robot_param_node>
        </plugin>
    </gazebo>
</robot>
