<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="jetleg_testrig_vision">
  <xacro:include filename="$(find jetleg_description)/urdf/jetleg_wheeled_testrig.urdf.xacro"/>
  <xacro:include filename="$(find jetleg_description)/urdf/stereo_camera.xacro"/>

  <xacro:stereo_camera baseline="0.1">
      <joint name="gantry_to_camera_base" type="fixed">
          <parent link="gantry" />
          <child link="camera_base" />
          <origin xyz="0.1 0 0" rpy="0 ${20*pi/180} 0" />
      </joint>
  </xacro:stereo_camera>

  <link name="gazebo_camera_link">
  </link>

  <joint name="gazebo_camera_joint" type="fixed">
    <parent link="camera_link" />
      <child link="gazebo_camera_link" />
    <origin xyz="0 0 0" rpy="${90*pi/180} ${-90*pi/180} 0" />
  </joint>

  <link name="gazebo_camera_optical_link">
  </link>

  <joint name="gazebo_camera_optical_joint" type="fixed">
    <parent link="gazebo_camera_link" />
      <child link="gazebo_camera_optical_link" />
    <origin xyz="0 0 0" rpy="${90*pi/180} ${-90*pi/180} 0" />
  </joint>

  <!-- camera -->
  <gazebo reference="gazebo_camera_link">
    <sensor type="camera" name="camera">
      <update_rate>30.0</update_rate>
      <visualize>true</visualize>
      <camera name="head">
        <horizontal_fov>${110*pi/180}</horizontal_fov>
        <image>
          <width>1280</width>
          <height>720</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>1.0</near>
          <far>20.0</far>
        </clip>
      </camera>
      <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <cameraName>rrbot/camera1</cameraName>
        <imageTopicName>image_raw</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frame_name>gazebo_camera_optical_link</frame_name>
      </plugin>
    </sensor>
  </gazebo>
</robot>