<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="jetleg">

    <link name="base_link">
    </link>

    <!-- Include the JetLeg -->
    <xacro:include filename="$(find jetleg_description)/urdf/components/jetleg.macro.xacro"/> 

    <!-- Create a JetLeg -->
    <xacro:jetleg id="">
    </xacro:jetleg>

    <!-- Include components -->
    <xacro:include filename="$(find jetleg_description)/urdf/components/imu.xacro" />
    <xacro:jetleg_imu />

    <joint name="base_link_to_jetleg" type="fixed">
        <parent link="base_link" />
        <child link="thigh_" />
    </joint>
</robot>
