<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="jetleg_testrig_vision">
    <xacro:include filename="$(find jetleg_description)/urdf/wheeled_testrig.xacro"/>
    <xacro:include filename="$(find jetleg_description)/urdf/stereo_camera.xacro"/>

    <xacro:stereo_camera baseline="0.1">
        <joint name="gantry_to_camera_base" type="fixed">
            <parent link="gantry" />
            <child link="camera_base" />
            <origin xyz="0.1 0 0" rpy="0 ${20*pi/180} 0" />
        </joint>
    </xacro:stereo_camera>
</robot>